.wrapper *,
.wrapper *::before,
.wrapper *::after {
  box-sizing: border-box;
}

.wrapper {
  --max-width: 600px;
  width: min(100%, var(--max-width));
}

.combo {
  display: block;
  margin-bottom: 1.5rem;
  max-width: var(--max-width);
  position: relative;
}

.combo::after {
  border-bottom: 2px solid var(--text-color);
  border-right: 2px solid var(--text-color);
  content: "";
  display: block;
  height: 12px;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -65%) rotate(45deg);
  width: 12px;
}

.inputWrapper {
  border-radius: 4px;
}

.comboInput {
  background-color: var(--lightbox-color);
  border: 2px solid var(--text-color);
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  min-height: calc(1.4em + 26px);
  padding: 12px 16px 14px;
  width: 100%;
}

.open .comboInput {
  border-radius: 4px 4px 0 0;
}

.comboInput:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px var(--interactive-active-color);
}

.comboLabel {
  display: block;
  font-size: 20px;
  margin-bottom: 0.25rem;
}

.comboMenu {
  background-color: var(--lightbox-color);
  border: 1px solid var(--text-color);
  border-radius: 0 0 4px 4px;
  display: none;
  max-height: 300px;
  overflow-y: scroll;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 100;
}

.open .comboMenu {
  display: block;
}

.comboOption {
  padding: 10px 12px 12px;
}

.comboOption.optionCurrent,
.comboOption:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.comboOption.optionSelected {
  padding-right: 30px;
  position: relative;
}

.comboOption.optionSelected::after {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  content: "";
  height: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  width: 8px;
}

.selectedOptions {
  list-style-type: none;
  margin: 0;
  max-width: var(--max-width);
  padding: 0;
}

.selectedOptions li {
  display: inline-block;
  margin-bottom: 5px;
}

.removeOption {
  background-color: var(--interactive-color);
  border: 1px solid var(--interactive-color);
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 0.25em 1.75em 0.25em 0.25em;
  position: relative;
}

.removeOption::before,
.removeOption::after {
  border-right: 2px solid #fff;
  content: "";
  height: 1em;
  right: 0.75em;
  position: absolute;
  top: 50%;
  width: 0;
}

.removeOption::before {
  transform: translate(0, -50%) rotate(45deg);
}

.removeOption::after {
  transform: translate(0, -50%) rotate(-45deg);
}
